.signScreen {
  border-radius: 10px;
  max-width: 600px;
  padding: 70px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;

  background: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

/* 
  Import here the grid display and then flex-direction: column just put it all into a colums */

.signScreen > form > h1 {
  justify-self: center;
}

.signScreen > form {
  display: grid;
  flex-direction: column;
}

.signScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  margin-top: 5px;
}
/* Padding is the inner space  */
.signScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #040303;
  cursor: pointer;
  font-weight: 600;
  border: none;
  margin-top: 20px;
}

.signScreen > form > h1 {
  text-align: left;
  margin-bottom: 5px;
}

.signScreen > form > h4 {
  text-align: left;
  margin-top: 20px;
}
.signUp_color_gray {
  color: gray;
}

.signupScreen_link {
  margin-left: 1rem;
}

.signupScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* @media (max-width: 965) {
  .signScreen {
    width: 400px;
    height: 40px;
    margin-bottom: 50px;
  }
}

@media (max-width: 965) {
  .signScreen {
    width: 400px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (min-height: 600px), (min-width: 1024px) {
  .signScreen {
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
} */
/* @media (min-height: 640px), (min-width: 360px) {
  .signScreen {
    width: 350px;
    height: 400px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
} */
