.container {
  /* width: 100%;
  height: 100%; */
  padding-top: 10px;
  display: grid;
  display: inline-block;
}
.details-product {
  background-color: red;
}
.description-product {
  background-color: red;
}

.details-product > img {
  width: 300px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
